In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

import collections

In [2]:
spark = SparkSession.builder.appName('SparkSQL').getOrCreate()

In [7]:
def mapper(line):
    fields = line.split(',')
    return Row(ID=int(fields[0]), 
               name=str(fields[1]), 
               age=int(fields[2]), 
               numFriends=int(fields[3]))

In [8]:
preset = 'file:///root/lab/ws/dsml-learning/spark_python_handson/dataset/'
lines = spark.sparkContext.textFile(preset + 'fakefriends.csv')

In [9]:
people = lines.map(mapper)

In [10]:
people.collect()

[Row(ID=0, age=33, name='Will', numFriends=385),
 Row(ID=1, age=33, name='Jean-Luc', numFriends=2),
 Row(ID=2, age=55, name='Hugh', numFriends=221),
 Row(ID=3, age=40, name='Deanna', numFriends=465),
 Row(ID=4, age=68, name='Quark', numFriends=21)]

In [11]:
schemaPeople = spark.createDataFrame(people).cache()
schemaPeople.createOrReplaceTempView('people')

In [12]:
teenagers = spark.sql('SELECT * FROM people WHERE age >= 30 AND age <=40')

In [13]:
for teen in teenagers.collect():
    print(teen)

Row(ID=0, age=33, name='Will', numFriends=385)
Row(ID=1, age=33, name='Jean-Luc', numFriends=2)
Row(ID=3, age=40, name='Deanna', numFriends=465)

In [14]:
schemaPeople.groupBy('age').count().orderBy('age').show()

+---+-----+
|age|count|
+---+-----+
| 33|    2|
| 40|    1|
| 55|    1|
| 68|    1|
+---+-----+